//! **************************************************************************
// Written by: Map O.76xd on Tue Feb 28 11:24:20 2017
//! **************************************************************************

SCHEMATIC START;
COMP "sync_in_2" LOCATE = SITE "B15" LEVEL 1;
COMP "VGA_R<0>" LOCATE = SITE "M1" LEVEL 1;
COMP "VGA_R<1>" LOCATE = SITE "K3" LEVEL 1;
COMP "VGA_R<2>" LOCATE = SITE "J4" LEVEL 1;
COMP "VGA_R<3>" LOCATE = SITE "H1" LEVEL 1;
COMP "VGA_R<4>" LOCATE = SITE "H2" LEVEL 1;
COMP "VGA_R<5>" LOCATE = SITE "F1" LEVEL 1;
COMP "VGA_R<6>" LOCATE = SITE "F2" LEVEL 1;
COMP "VGA_R<7>" LOCATE = SITE "E1" LEVEL 1;
COMP "VGA_G<2>" LOCATE = SITE "E2" LEVEL 1;
COMP "VGA_G<3>" LOCATE = SITE "C1" LEVEL 1;
COMP "VGA_G<4>" LOCATE = SITE "B16" LEVEL 1;
COMP "VGA_G<5>" LOCATE = SITE "C15" LEVEL 1;
COMP "VGA_G<6>" LOCATE = SITE "C16" LEVEL 1;
COMP "VGA_G<7>" LOCATE = SITE "F16" LEVEL 1;
COMP "VGA_SYNC_N" LOCATE = SITE "M2" LEVEL 1;
COMP "VGA_HS" LOCATE = SITE "T4" LEVEL 1;
COMP "sync_out_1" LOCATE = SITE "B1" LEVEL 1;
COMP "VGA_CLK" LOCATE = SITE "R15" LEVEL 1;
COMP "sync_out_2" LOCATE = SITE "B2" LEVEL 1;
COMP "VGA_B<0>" LOCATE = SITE "F15" LEVEL 1;
COMP "VGA_B<1>" LOCATE = SITE "J14" LEVEL 1;
COMP "VGA_B<2>" LOCATE = SITE "J16" LEVEL 1;
COMP "VGA_B<3>" LOCATE = SITE "K16" LEVEL 1;
COMP "VGA_B<4>" LOCATE = SITE "K15" LEVEL 1;
COMP "CLOCK_12" LOCATE = SITE "A9" LEVEL 1;
COMP "VGA_B<5>" LOCATE = SITE "M16" LEVEL 1;
COMP "VGA_B<6>" LOCATE = SITE "M15" LEVEL 1;
COMP "VGA_VS" LOCATE = SITE "R7" LEVEL 1;
COMP "VGA_B<7>" LOCATE = SITE "R16" LEVEL 1;
COMP "sync_in_1" LOCATE = SITE "A2" LEVEL 1;
SCHEMATIC END;

