

NET "CLOCK_12" LOC = A9;
NET "VGA_B[0]" LOC = F15;
NET "VGA_B[1]" LOC = J14;
NET "VGA_B[2]" LOC = J16;
NET "VGA_B[3]" LOC = K16;
NET "VGA_B[4]" LOC = K15;
NET "VGA_B[5]" LOC = M16;
NET "VGA_B[6]" LOC = M15;
NET "VGA_B[7]" LOC = R16;
NET "VGA_G[2]" LOC = E2;
NET "VGA_G[3]" LOC = C1;
NET "VGA_G[4]" LOC = B16;
NET "VGA_G[5]" LOC = C15;
NET "VGA_G[6]" LOC = C16;
NET "VGA_G[7]" LOC = F16;
NET "VGA_R[0]" LOC = M1;
NET "VGA_R[1]" LOC = K3;
NET "VGA_R[2]" LOC = J4;
NET "VGA_R[3]" LOC = H1;
NET "VGA_R[4]" LOC = H2;
NET "VGA_R[5]" LOC = F1;
NET "VGA_R[6]" LOC = F2;
NET "VGA_R[7]" LOC = E1;
NET "sync_in_1" LOC = A2;
NET "sync_in_2" LOC = B15;
NET "sync_out_1" LOC = B1;
NET "sync_out_2" LOC = B2;


NET "CLOCK_12" IOSTANDARD = LVCMOS33;
NET "VGA_B[0]" IOSTANDARD = LVTTL;
NET "VGA_B[1]" IOSTANDARD = LVTTL;
NET "VGA_B[2]" IOSTANDARD = LVTTL;
NET "VGA_B[3]" IOSTANDARD = LVTTL;
NET "VGA_B[4]" IOSTANDARD = LVTTL;
NET "VGA_B[5]" IOSTANDARD = LVTTL;
NET "VGA_B[6]" IOSTANDARD = LVTTL;
NET "VGA_B[7]" IOSTANDARD = LVTTL;
NET "VGA_G[0]" IOSTANDARD = LVTTL;
NET "VGA_G[1]" IOSTANDARD = LVTTL;
NET "VGA_G[2]" IOSTANDARD = LVTTL;
NET "VGA_G[3]" IOSTANDARD = LVTTL;
NET "VGA_G[4]" IOSTANDARD = LVTTL;
NET "VGA_G[5]" IOSTANDARD = LVTTL;
NET "VGA_G[6]" IOSTANDARD = LVTTL;
NET "VGA_G[7]" IOSTANDARD = LVTTL;
NET "VGA_R[0]" IOSTANDARD = LVTTL;
NET "VGA_R[1]" IOSTANDARD = LVTTL;
NET "VGA_R[2]" IOSTANDARD = LVTTL;
NET "VGA_R[3]" IOSTANDARD = LVTTL;
NET "VGA_R[4]" IOSTANDARD = LVTTL;
NET "VGA_R[5]" IOSTANDARD = LVTTL;
NET "VGA_R[6]" IOSTANDARD = LVTTL;
NET "VGA_R[7]" IOSTANDARD = LVTTL;

# PlanAhead Generated physical constraints 

NET "VGA_CLK" LOC = R15;
NET "VGA_HS" LOC = T4;
NET "VGA_SYNC_N" LOC = M2;
NET "VGA_VS" LOC = R7;

# PlanAhead Generated IO constraints 

NET "VGA_CLK" IOSTANDARD = LVTTL;
NET "VGA_HS" IOSTANDARD = LVTTL;
NET "VGA_SYNC_N" IOSTANDARD = LVTTL;
NET "VGA_VS" IOSTANDARD = LVTTL;
NET "iso_gnd" IOSTANDARD = LVCMOS25;
NET "psave_n" IOSTANDARD = LVCMOS25;
NET "sync_in_1" IOSTANDARD = LVTTL;
NET "sync_in_2" IOSTANDARD = LVTTL;
NET "sync_out_1" IOSTANDARD = LVTTL;
NET "sync_out_2" IOSTANDARD = LVTTL;
