

NET "CLOCK_50" LOC = K3;
NET "TMDS_CLOCK_P" LOC = C9;
NET "TMDS_POSITIVE[0]" LOC = C7;
NET "TMDS_POSITIVE[1]" LOC = B6;
NET "TMDS_POSITIVE[2]" LOC = B5;
NET "sync_in_1" LOC = K14;
NET "sync_in_2" LOC = J13;
NET "sync_out_1" LOC = J12;
NET "sync_out_2" LOC = L14;


NET "CLOCK_50" IOSTANDARD = LVCMOS33;
NET "TMDS_CLOCK_N" IOSTANDARD = TMDS_33;
NET "TMDS_CLOCK_P" IOSTANDARD = TMDS_33;
NET "TMDS_POSITIVE[0]" IOSTANDARD = TMDS_33;
NET "TMDS_POSITIVE[1]" IOSTANDARD = TMDS_33;
NET "TMDS_POSITIVE[2]" IOSTANDARD = TMDS_33;
NET "sync_in_1" IOSTANDARD = LVTTL;
NET "sync_in_2" IOSTANDARD = LVTTL;
NET "sync_out_1" IOSTANDARD = LVTTL;
NET "sync_out_2" IOSTANDARD = LVTTL;
NET "CLOCK_50" DRIVE = 12;

# PlanAhead Generated physical constraints 

NET "v_sync" LOC = N12;

# PlanAhead Generated IO constraints 

NET "v_sync" IOSTANDARD = LVTTL;
NET "sync_in_2" DRIVE = 12;
